@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
body {
  font-family: 'Jost';
  background: #181A26;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
  font-style: normal;
  overflow-x: hidden;
}
img {
  max-width: 100%;
  max-height: 100%;
}
a, li {
  text-decoration: none;
}
.bikinioff {
  width: 100%;
  height: 1060px;
  background: url(../img/Union.png) no-repeat center;
  background-size: cover;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 140px 0 200px;
}
.header__logo {
  width: 280px;
  height: 50px;
  background: url(../img/logo.svg) center no-repeat; 
}
.header__nav {
  display: flex;
  list-style: none;
  column-gap: 35px;
}
.nav-link {
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  transition: .3s all;
}
.nav-link::after {
  width: 0;
  transition: all .3s ease;
  content: "";
  display: block;
  height: 1px;
  background: #DFFF58;
  box-sizing: border-box;
}
.nav-link:hover:after {
  width: 100%;
}
.hamburger_menu {
  display: none;
}
.header__support {
  display: flex;
  gap: 15px;
}
.support-btn {
  width: 188px;
  height: 55px;
  border-radius: 20px;
  background: #F66BFF;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-weight: 600;
  column-gap: 14px;
}
.woman {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 125px;
  gap: 60px;
}
.woman__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.woman__edit {
  width: 308px;
  height: 383px;
  border-radius: 90px 90px 40px 40px;
  border: 2px solid #F66BFF;
}
.woman__orig {
  width: 100%;
  height: 100%;
  border-radius: 90px 90px 40px 40px;
  z-index: 1;
  filter: blur(5px);
}
.woman__blur {
  width: 304px;
  height: calc(206px);
  border-radius: 90px 90px 0 0;
  margin-top: -383px;
  z-index: 3;
  position: sticky;
}
.woman__blur-img {
  width: 100%;
  height: 100%;
  border-radius: 90px 90px 0 0;
  background: url(../img/woman.jpg);
  background-size: cover;
}
.woman__line {
  display: flex;
  justify-content: center;
  z-index: 3;
  position: sticky;
  width: 100%;
  height: 4px;
  background: #F66BFF;
  box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.14);
}
.woman__line > svg {
  margin-top: -7px;
  cursor: pointer;
}
.woman__title {
  width: 370px;
  color: #F66BFF;
  font-family: Jost;
  font-size: 40px;
  font-weight: 600;
  line-height: normal;
  margin-top: 12px;
}
.woman__desc {
  width: 675px;
  color: #FFF;
  font-family: Jost;
  font-size: 22px;
  font-weight: 500;
  line-height: normal;
}
.woman__link {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.woman-link {
  margin-right: 22px;
  padding: 18px 77px;
  border-radius: 20px;
  background: #F66BFF;
  backdrop-filter: blur(2px);
  color: #000;
  font-family: Jost;
  font-size: 16px;
  font-weight: 600;
}
.woman__link > hr {
  width: 38px;
  height: 1px;
  background: #FFF;
  margin-right: 12px;
}
.woman__link-desc {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}
.statistics__container {
  width: 1400px;
  max-height: 100%;
  background: rgba(57, 57, 57, 0.32);
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 58px;
  justify-content: space-between;
  padding: 32px 47px;
  gap: 43px;
}
.statistics b {
  color: #FFF;
  font-size: 38px;
  font-weight: 600;
}
.statistics p {
  color: #FFF;
  font-size: 24px;
  font-weight: 600;
}
.stats__lines {
  display: none;
}
.this {
  color: #DE5EE6;
  font-size: 38px;
  font-weight: 600;
}
.how_does_works {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.how_does_works__title {
  color: #FFF;
  font-size: 38px;
  font-weight: 600;
}
.how_does_works h4 {
  width: 674px;
  font-weight: 500;
  font-size: 22px;
  margin-top: 15px;
}
.how_does_works__container {
  width: 100%;
  padding: 0 180px 0 235px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 110px;
  gap: 160px;
  justify-content: center;
}
.how_does_works__block {
  width: 660px;
  height: 343px;
  background: url(../img/fone.svg) center no-repeat;
}
.how_does_works__block-up {
  display: flex;
  gap: 95px;
  height: 50%;
  align-items: center;
}
.how_does_works__block-up--number {
  color: #DE5EE6;
  font-size: 48px;
  font-weight: 600;
  margin-left: 50px;
}
.how_does_works__block-up--title {
  width: 432px;
  color: #DE5EE6;
  text-align: center;
  font-size: 38px;
  font-weight: 600;
}
.how_does_works__block-down {
  display: flex;
  padding: 30px 70px;
}
.how_does_works__block-down--desc {
  color: #FFF;
  font-size: 22px;
  font-weight: 500;
}
.tarif {
  width: 100%;
  height: 1009px;
  background: url(../img/fone2.png) center no-repeat;
  background-size: 100%;
  margin-top: 125px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
}
.tarif__title {
  color: #FFF;
  font-size: 38px;
  font-weight: 600;
}
.tarif__desc {
  width: 674px;
  color: #FFF;
  font-size: 22px;
  font-weight: 500;
  margin-top: 20px;
}
.tarif__wrapper {
  width: 100%;
  padding: 80px 113px;
  display: flex;
  gap: 85px;
  align-items: center;
  justify-content: center;
}
.arrow__right, .arrow__left {
  cursor: pointer;
  margin-top: 50px;
}
.arrow__right {
  transform: rotate(180deg);
}
.tarif__card-container {
  display: flex;
  column-gap: 150px;
  margin-top: 80px;
}
.tarif__card {
  width: 393px;
  height: 536px;
  border-radius: 30px;
  background: #121212;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tarif__name {
  color: #DE5EE6;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}
.tarif__price {
  color: #FFF;
  font-size: 24px;
  font-weight: 600;
  margin-top: 21px;
}
.tarif__line {
  width: 100%;
  background-color: #343434;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  padding-top: 2px;
  margin-top: 60px;
}
.tarif__benefits {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  justify-content: flex-start;
}
.tarif__benefit {
  color: #FFF;
  font-size: 22px;
  display: flex;
  font-weight: 600;
  margin-bottom: 21px;
  gap: 15px;
  align-items: center;
}
.tarif-link {
  width: 270px;
  height: 55px;
  border-radius: 20px;
  border: 3px solid #DE5EE6;
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.30);
  background-color: transparent;
  color: white;
  margin: 0 auto;
  margin-top: 150px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  transition: .3s all;
}
.tarif-link:hover {
  background-color: #DE5EE6;
}
.faq {
  width: 100%;
  padding-top: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url(../img/fone3.png) center no-repeat;
  background-size: cover;
  height: 1085px;
  z-index: 2;
  position: sticky;
}
.faq__title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 23px;
}
.faq__desc {
  width: 675px;
  font-size: 22px;
  font-weight: 500;
}
.faq__container {
  width: 655px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.faq__block {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: solid 2px #676767;
  padding-bottom: 35px;
  margin-top: 30px;
}
.faq__question {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 36px;
  font-weight: 600;
  align-items: center;
  cursor: pointer;
}
.faq__arrow {
  transform: rotate(-90deg);
  transition-duration: .3s;
}
.faq__answer {
  width: 100%;
  height: 0;
  display: flex;
  align-items: end;
  visibility: hidden;
  opacity: 0;
  transition-duration: .3s;
}
.referal__section {
  width: 100%;
  background: url(../img/fone2.png) center no-repeat;
  background-size: cover;
  margin-top: -200px;
  padding-top: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 105px;
}
.referal__container {
  width: 1533px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
}
.referal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: url(../img/fone_block.png) center no-repeat;
  padding: 34px 95px;
  background-color: rgba(18, 18, 18, 0.7);
  border-radius: 20px;
}
.system {
  width: 300px;
  color: #DE5EE6;
  font-size: 24px;
  font-weight: 600;
}
.system2 {
  font-size: 22px;
}
.invited {
  color: #FFF;
  font-size: 22px;
  font-weight: 600;
  width: 650px;
  margin-top: 9px;
  margin-bottom: 10px;
}
.invited2 {
  width: 656px;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
}
.invite-link {
  width: 270px;
  height: 55px;
  border-radius: 20px;
  border: 1px solid transparent;
  background: #DE5EE6;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: .3s all;
}
.invitings {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #929292;
  font-size: 16px;
  font-weight: 600;
  border-radius: 20px;
  background: #232323;
  width: 270px;
  height: 30px;
}
.join {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  background: url(../img/fone_block2.png) center no-repeat;
  background-size: cover;
  padding: 25px 95px;
  background-color: rgba(18, 18, 18, 0.7);
  border-radius: 20px;
}
.invite-link2 {
  margin-top: 10px;
}
.footer {
  background: #232323;
  display: flex;
  justify-content: center;
  gap: 365px;
  padding: 0 60px 0 70px;
  height: 130px;
  align-items: center;
}
.copy {
  width: 595px;
}
.footer__nav {
  display: flex;
  gap: 60px;
}
.footer__nav > li {
  width: 120px;
  list-style-type: none;
  text-align: center;

}
.footer__nav .nav-link {
  font-size: 14px;
  font-weight: 400;
}
.footer__msg {
  display: flex;
  gap: 19px;
  margin-left: 100px;
}
.rotate__svg > .faq__arrow {
  transform: rotate(0deg);
}
.faq__answer-open {
  height: 75px;
  visibility: visible;
  opacity: 1;
}
@media (max-width: 1900px) {
  .header {
    padding: 40px 130px 0 130px;
  }
  .tarif__wrapper {
    padding: 40px 90px;
    gap: 45px;
  }
  .tarif__card-container {
    column-gap: 70px;
  }
  .referal__container {
    width: 80%;
  }
  .footer {
    width: 100%;
    gap: 0;
  }
  .footer__msg {
    margin-left: 0;
  }
}
@media (max-width: 1600px) {
  .header {
    flex-direction: column;
    justify-content: center;
    gap: 60px;
  }
  .header__support {
    display: none;
  }
  .tarif {
    background-size: cover;
  }
  .statistics__container {
    width: 95%;
    gap: 20px;
  }
  .tarif__card {
    display: none;
  }
  .tarif__visible {
    display: flex !important;
  }
}
@media (max-width: 1300px) {
  .block2 {
    transform: scale(-1, 1);
  }
  .block-up2 {
    flex-direction: row-reverse;
    transform: scale(-1, 1);
  }
  .block-up2 > .how_does_works__block-up--number {
    margin-left: 5px;
    margin-right: 42px;
  }
  .block-down2 {
    flex-direction: row-reverse;
    transform: scale(-1, 1);
  }
  .footer__msg {
    display: none;
  }
  .referal {
    flex-direction: column;
    align-items: start;
  }
  .referal > .invite-link {
    margin-top: -50px;
  }
  .invite-link {
    position: sticky;
    left: 80%
  }
  .invitings {
    margin-top: 50px;
  }
  .referal, .join {
    padding: 48px 40px;
  }
  .how_does_works__container {
    padding: 0;
  }
  .woman {
    margin-top: 100px;
    flex-direction: column;
    gap: 10px;
  }
  .how_does_works {
    margin-top: 165px;
  }
}
@media (max-width: 1050px) {
  .stats__lines {
    display: flex;
    gap: 14px;
  }
  .statistics__container {
    width: 635px;
  }
  .lines {
    width: 47px;
    height: 8px;
    background: rgba(223, 223, 223, 0.40);
    cursor: pointer;
  }
  .active__lines {
    background: #D0CFCF;  
  }
  .statistics__container {
    flex-direction: column;
    padding: 10px 30px;
  }
  .statistics {
    display: none;
  } 
  .stats1 {
    display: block;
  }
  .referal__container {
    width: 95%;
  }
  .copy {
    width: 235px;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
  }
  .footer__nav {
    gap: 8px;
  }
  .footer {
    height: initial;
    padding: 30px;
    justify-content: space-between;
  }
}
@media (max-width: 780px) {
  .header {
    padding: 40px 50px 0 50px;
  }
  .how_does_works__block {
    width: 95%;
    background-size: contain;
  }
  .how_does_works__block-up--title {
    width: 60%;
  }
  .how_does_works h4 {
    width: 95%;
  }
  .tarif__desc {
    width: 95%;
  }
  .faq__desc, .faq__container {
    width: 90%;
  }
  .faq__question {
    font-size: 32px;
  }
  .invited, .invited2 {
    width: 100%;
  }
  .how_does_works__block-up--title, .how_does_works__block-up--number {
    font-size: 34px;
  }
  .how_does_works__block-down--desc {
    font-size: 19px;
  }
  .referal__section {
    background-size: 400%;
  }
  .block-up2 {
    justify-content: center;
  }
  .how_does_works__block-up--number {
    margin-left: 80px;
  }
  .block-up2 > .how_does_works__block-up--number {
    margin-left: 25px;
    margin-right: 0;
  }
}
@media (max-width: 690px) {
  .header {
    padding: 45px 50px;
    flex-direction: row;
    justify-content: space-between;
  }
  .header__nav {
    display: none;
  }
  .hamburger_menu {
    display: flex;
  }
  .hamburger-menu {
    display: flex;
    height: 100%;
    align-items: center;
  }
  #menu__toggle {
      opacity: 0;
  }
  .menu__btn {
      display: flex; 
      align-items: center;  
      width: 15px;
      height: 15px;
      cursor: pointer;
      z-index: 5;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
      display: flex;
      position: absolute;
      width: 35px;
      height: 2px;
      gap: 6px;
      margin-bottom: 5px;
      background-color: white;
  }
  .menu__btn > span::before {
      content: '';
      top: -8px;
  }
  .menu__btn > span::after {
      content: '';
      top: 8px;
  }
  .menu__box {
      display: block;
      position: fixed;
      visibility: hidden;
      z-index: 100;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100%;
      padding-top: 93px;
      margin: 0;
      list-style: none;
      text-align: center;
      background: rgba(0, 0, 0, 0.92);
      box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: end;
      padding-right: 30px;
  }
  .menu__box > li > a {
    color: white;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    font-variant: small-caps;
    letter-spacing: 2.52px;
  }
  .menu__item {
      display: block;
      padding: 12px 0;
      margin-bottom: 0;
      text-align: start;
      padding-left: 15px;
      color: black;
      font-size: 20px;
      font-weight: 500;
      transition: .3s all;
  }
  .menu__item:hover {
      color: #5e5e5e;
  }

  #menu__toggle:checked ~ .menu__btn > span {
      transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
      top: 0;
      transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
      visibility: visible;
      right: 0;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
  transition-duration: .25s;
  }
  .menu__box {
  transition-duration: .25s;
  }
  .menu__item {
  transition-duration: .25s;
  }
  .woman {
    flex-direction: column-reverse;
    margin-top: 35px;
    padding-left: 26px;
    gap: 70px;
  }
  .woman__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .woman__desc {
    width: 100%;
    font-size: 16px;
  }
  .statistics__container {
    width: 90%;
  }
  .footer {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 18px 0 10px 0;
  }
  .copy {
    width: 240px;
    text-align: center;
  }
  .referal > .invite-link {
    width: 120px;
    height: 30px;
    font-size: 10px;
    margin-top: -30px;
  }
}
@media (max-width: 520px) {
  .woman__link > hr, .woman__link-desc {
    display: none;
  }
  .how_does_works__title, .this {
    font-size: 30px;
  }
  .how_does_works h4 {
    font-size: 22px;
    text-align: center;
  }
  .how_does_works__container {
    margin-top: 50px;
    gap: 80px;
  }
  .how_does_works__block {
    height: 300px;
  }
  .how_does_works__block-up {
    gap: 55px;
  }
  .how_does_works__block-down {
    padding: 32px 36px;
    padding-top: 7px;
  }
  .how_does_works__block-up--title {
    line-height: 100%;
    font-size: 28px;
    margin-top: 50px;
  }
  .how_does_works__block-up--number {
    font-size: 36px;
    margin-left: 25px;
    margin-top: 50px;
  }
  .how_does_works__block-down--desc {
    font-size: 18px;
    line-height: 120%;
  }
  .tarif__card {
    width: 95%;
  }
  .arrow__right, .arrow__left {
    display: none;
  }
  .tarif__title {
    font-size: 30px;
  }
  .tarif__desc {
    text-align: center;
    font-size: 22px;
  }
  .tarif__wrapper {
    padding-top: 10px;
  }
  .faq {
    padding-top: 20px;
    height: initial;
    padding-bottom: 90px;
  }
  .faq__title {
    font-size: 30px;
  }
  .faq__desc {
    font-size: 22px;
    text-align: center;
  }
  .faq__question {
    font-size: 26px;
  }
  .faq__question > svg {
    width: 20px;
    height: 20px;
  }
  .referal__section {
    background-size: 550%;
  }
  .referal, .join {
    padding: 30px 20px;
  }
  .invitings {
    font-size: 12px;
    width: 180px;
    height: 32px;
  }
  .invite-link {
    left: 90%;
  }
}
@media (max-width: 390px) {
  .how_does_works__block {
    background: url(../img/mobfone.svg) center no-repeat;
  }
  .invite-link {
    width: 95px;
    height: 20px;
    font-size: 8px;
  }
  .how_does_works__block {
    width: 265px;
  }
  .how_does_works__block-up {
    gap: 20px;
  }
  .how_does_works__block-up--number {
    font-size: 28px;
    margin-top: 0;
  }
  .how_does_works__block-up--title {
    font-size: 18px;
    line-height: 100%;
    margin-top: 0;
  }
  .how_does_works__block-down--desc {
    font-size: 10px;
    font-weight: 500;
  }
  .how_does_works__block {
    height: 138px;
  }
  .how_does_works__block-down {
    padding: 10px 18px;
  }
  .how_does_works__block-up--number {
    margin-left: 23px;
  }
  .how_does_works__block-up {
    gap: 30px;
  }
  .how_does_works__block-down {
    padding-left: 30px;
    padding-right: 5px;
  }
  .block-up2 {
    gap: 20px !important;
  }
  .block-up2 > .how_does_works__block-up--number {
    margin-left: 0;
    margin-right: -7px;
  }
  .how_does_works__container {
    gap: 45px;
    flex-direction: column;
    align-items: center;
  }
  .how_does_works h4, .tarif__desc, .faq__desc {
    text-align: center;
  }
  .tarif {
    margin-top: 80px;
    padding-top: 45px;
    padding-bottom: 90px;
    height: initial;
  }
  .tarif__title {
    font-size: 22px;
  }
  .tarif__desc {
    font-size: 12px;
  }
  .tarif__wrapper {
    padding: 0;
    gap: 12px;
  }
  .tarif__card-container {
    column-gap: 40px;
  }
  .arrow__left, .arrow__right {
    width: 30px;
    height: 30px;
    display: flex;
  }
  .tarif__card {
    width: 258px;
    height: 352px;
    padding: 0 25px;
  }
  .tarif__name {
    font-size: 26px;
    margin-top: 15px;
  }
  .tarif__price {
    font-size: 20px;
    margin-top: 25px;
  }
  .tarif__line {
    margin-top: 19px;
  }
  .tarif__benefits {
    padding-top: 25px;
  }
  .tarif__line {
    width: 191px;
  }
  .tarif__benefit {
    gap: 14px;
    font-size: 16px;
  }
  .tarif-link {
    width: 168px;
    height: 34px;
    margin-top: 95px;
    font-size: 12px;
  }
  .faq {
    padding-top: 22px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 115px;
    height: initial;
  }
  .faq__title {
    font-size: 22px;
    margin-bottom: 25px;
  }
  .faq__desc {
    font-size: 12px;
    font-weight: 500;
  }
  .faq__question {
    font-size: 18px;
  }
  .faq__answer-open {
    height: 40px;
  }
  .faq__question > svg {
    width: 15px;
    height: 8px;
  }
  .faq__block {
    padding-bottom: 15px;
    margin-top: 15px;
  }
  .referal__container {
    justify-content: center;
    align-items: center;
  }
  .referal {
    width: 100%;
    padding: 25px 20px;
    height: 140px;
  }
  .join {
    width: 100%;
    padding: 20px 20px;

  }
  .system {
    font-size: 14px;
  }
  .invited {
    font-size: 9px;
    margin-top: 6px;
    margin-bottom: 18px;
  }
  .invitings {
    margin-top: 0;
    font-size: 6px;
    width: 113px;
    height: 13px;
  }
  .invite-link {
    font-size: 8px;
  }
  .faq__answer {
    font-size: 9px;
  }
  .how_does_works__title {
    font-size: 22px;
  }
  .this {
    font-size: 22px;
  }
  .how_does_works h4 {
    font-size: 12px;
  }
  .how_does_works {
    margin-top: 45px;
  }
  .how_does_works__container {
    margin-top: 45px;
  }
  .header__logo {
    width: 195px;
    height: 38px;
    background-size: contain;
  }
  .menu__btn {
    margin-right: 20px;
  }
  .header {
    padding: 32px 26px;
  }
  .woman__title {
    width: 100%;
  }
  .statistics__container {
    display: none;
  }
}
